.cartButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.initialBtn {
    border-radius: 4px;
    width: 30px;
    height: 20px;
}

.initialBtn:hover {
    background-color: rgb(244, 251, 33);
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    height: 20px;
    width: 20px;
    border-radius: 1px;
    font-size: 8px;
    border-radius: 0px;
    border: 0px solid black;
}

#increaseButton{
    border-radius: 0px 4px 4px 0px;
}

#decreaseButton {
    border-radius: 4px 0px 0px 4px;
}

#decreaseButton:hover{
    background-color: rgb(251, 68, 18);
}

#increaseButton:hover {
    background-color: rgb(27, 224, 27);
}